.material-icons {
    font-family: 'Material Icons', serif;
    color: black;
}

span {
    transition: all 0.3s;
}

span:hover {
    color: orange;
    cursor:pointer;
}

span:active {
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 1200px;
    height: 600px;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.topBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border: 1px solid red;
}

main {
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    height: 100%;
}

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border: 1px solid yellow;

}

.navBarOptions {
    display: flex;
    flex-direction: column;
    height: 200px;

}

.project, .projectItems {
    display: flex;
    flex-direction: column;
}

.projectItems {
    height: 380px;
    overflow: auto;
}

.mainDisplay {
    display:flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.todos {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow: auto;
}

.todosDone {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: auto;
}

.todoItem, .todoLeftSide, .todoRightSide {
    display: flex;
    flex-direction: row;
}

.todoLeftSide, .todoRightSide {
    width: 50%;
}

.todoLeftSide {
    justify-content: flex-start;
}

.todoRightSide {
    justify-content: flex-end;
}

.priority {
    width: 5px;
}

.High {
    background-color: red;
}

.Medium {
    background-color: yellow;
}

.Low {
    background-color: blue;
}

.done {
    background-color: gray;
}

.newProjectModal, .newTaskModal, .detailsModal {
    position: fixed;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65); 
    opacity: 1;
    transition: all 0.4s;
    visibility: visible;
}

.newProjectForm, .newTaskForm, .detailsContainer {
    display: flex;
    flex-direction: column;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
    border-radius: 20px;
}