.material-icons {
    font-family: 'Material Icons', serif;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 1920px;
    height: 965px;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor:default;
}

.topBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    border: 1px solid black;
    background-color: #dc4c3f;
    color: white;
    font-size: 50px;
}

icon {
    margin-left: 10px;
    margin-right: 10px;
}

.topBar > icon {
    color: white;
    font-size: 75px;
}

main {
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    height: 90%;
}

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border: 1px solid yellow;
    background-color: #e9e9e9;
}

.navBarOptions {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.bottomNavBar {
    display: flex;
    flex-direction: row;
    height: 10%;
}

.home, .today, .week, .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    height: 8%;
    font-size: 25px;
}

.home:hover, .today:hover, .week:hover {
    color: orange;
}

.home > icon {
    color: green;
}

.today > icon {
    color: blue;
}

.week > icon {
    color: red;
}

.project > icon {
    color:purple;
}

.project {
    display: flex;
    flex-direction: row;
}

.projectItems {
    display: flex;
    flex-direction: column;
    height: 68%;
    overflow: auto;
    cursor: pointer;
}

.projectItem {
    justify-content: space-between;
    margin-bottom: 10px;
}

.project:hover {
    background-color: yellow;
    color: red;
    cursor: pointer;
}

.project:hover > .newProjectButton:before{
    content: 'add_circle';
}

.newProjectButton {
    transition: all 0.3s;
}

.newProjectButton:before {
    content: 'add';
    color: green;
}

.projectTitleSidebar {
    margin-left: 10px;
    font-size: 20px;
}

.mainDisplay {
    display:flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.projectHeader {
    display: flex;
    align-items: center;
    height: 10%;
    margin-left: 10px;
    font-size: 40px;
}

.todos, .todosDone {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.todos {
    height: 70%;
}

.todosDone {    
    height: 30%;
}

.projectItem, .todoItem, .todoLeftSide, .todoRightSide, .projectItemRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todoItem {
    font-size: 30px;
    margin-bottom: 20px;
}

.projectItemRightSide{
    margin-right: 10px;
}

.todoLeftSide, .todoRightSide {
    width: 50%;
}

.todoRightSide {
    justify-content: flex-end;
}

.todoItem, .projectItem {
    transition: all 0.3s;
}

.todoItem:hover, .projectItem:hover {
    background-color: #e0e2e5;
}

.projectItem:hover .projectItemRightSide > span {
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
}

.projectDescriptionContainer:hover > span {
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
}

.todoItem .todoRightSide > span {
    transition: all 0.3s;
}

.todoItem:hover .todoRightSide > span {
    visibility: visible;
    opacity: 1;
}

span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

span:hover {
    color: orange;
    cursor: pointer;
}

span:active {
    color: red;
}

.priority {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.High {
    border: solid 2px red;
    background-color: orangered;
}

.Medium {
    border: solid 2px orange;
    background-color: yellow;
}

.Low {
    border: solid 2px green;
    background-color: greenyellow;
}

.done {
    border: solid 2px grey;
    background-color: lightgray;
}

.newTaskButtonContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.newTaskButtonContainer:hover {
    background-color: yellow;
    color: red;
}

.newTaskButtonContainer:hover > .newTaskButton::before {
    content: 'add_circle';
}

.newTaskButton::before {
    content: 'add';
    color: green;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    margin-left: 10px;
    margin-right: 10px;
    height: 34px;
    width: 34px;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 30px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.newProjectModal, .newTaskModal, .detailsModal {
    position: fixed;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65); 
    opacity: 1;
    transition: all 0.4s;
    visibility: visible;
}

.newProjectForm, .newTaskForm, .detailsContainer {
    display: flex;
    flex-direction: column;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
    border-radius: 20px;
}